/* === CSS RESET START === */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	line-height: 1.5;
	font-family: "Red Hat Display", sans-serif;
	font-weight: 500;
	background-color: var(--background-color);
	color: var(--text-color);
}

img,
svg,
video,
picture {
	display: block;
	max-width: 100%;
}

/* === CSS RESET END === */

/* === SKIP TO MAIN CONTENT START === */
.skip-link {
	background: var(--background-color);
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	position: absolute;
	left: 0.5rem;
	transform: translateY(-120%);
	transition: transform 0.3s ease-in-out;
	color: var(--text-color);
}

.skip-link:focus {
	transform: translateY(0);
}

/* === SKIP TO MAIN CONTENT END === */

/* === GENERAL STYLES START === */
:root {
	--text-color: #ffffff;
	--background-color: #0f0f0f;
	--primary-color: #8e44ad;
}

html {
	scroll-behavior: smooth;
}

.main-container {
	max-width: 1400px;
	width: 100%;
	/* display: flex; */
	margin: 0 auto;
	padding: 0 2rem;
}
/* === GENERAL STYLES END === */

/* === HEADER/NAV STYLES START === */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0f0f0f;
	/* padding: 1rem 0; */
	/* margin-bottom: 2rem; */
}

.logo img {
	width: 10rem;
}

.navbar nav {
	display: flex;
}

.nav-links {
	display: flex;
	gap: 1.5rem;
	list-style: none;
}

.nav-links a {
	position: relative;
	text-decoration: none;
	color: whitesmoke;
	font-size: 1.25rem;
	font-weight: 700;
}
.nav-links a::before {
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	width: 0;
	height: 0.25rem;
	background-color: var(--primary-color);
	transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
	/* color: #8e44ad; */
}
.nav-links a:focus {
	color: #8e44ad;
}
.nav-links a:hover::before {
	width: 100%;
}

@media (max-width: 768px) {
	.nav-links {
		flex-direction: column;
		margin-top: 1rem;
	}

	.logo img {
		width: 7rem;
	}
}
/* === HEADER/NAV STYLES END === */

/* .home-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.home-grid-item {
	background-color: red;
} */

/* .home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	text-align: center;
	align-content: center;
}

.home-grid-item {
	background: lightgray;
	padding: 1rem;
}
.home-grid-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 768px) {
	.home-grid {
		grid-template-columns: 1fr;
	}
} */

.hero-header {
	font-size: 4rem;
	font-weight: 200;
	font-family: "DM Serif Display", sans-serif;
}
.page-header {
	font-size: 4rem;
	font-weight: 200;
	font-family: "DM Serif Display", sans-serif;
	text-align: center;
	padding: 2rem;
}
.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

.landing-text {
	font-family: "Red Hat Display", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	text-align: left;
	position: absolute;
	top: 30%;
	left: 10%;
	color: #ffffff;
}

.landing-header {
	font-size: 8rem;
	font-weight: 700;

	font-family: "DM Serif Display", sans-serif;
	text-align: center;
	padding: 2rem;
}

@media (max-width: 480px) {
	.landing-text {
		font-size: 1.5rem;
		top: 30%;
		left: 5%;
	}

	.landing-header {
		text-align: left;
		font-size: 4rem;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.landing-text {
		font-size: 2rem;
		top: 25%;
		left: 8%;
	}

	.landing-header {
		/* text-align: left; */
		font-size: 4rem;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.landing-text {
		font-size: 2.5rem;
		top: 25%;
		left: 5%;
	}

	.landing-header {
		font-size: 5rem;
		/* text-align: left; */
		text-wrap: nowrap;
	}
}

@media (min-width: 1441px) {
	.landing-text {
		font-size: 4rem;
		top: 30%;
		left: 12%;
	}

	.landing-header {
		font-size: 8rem;
	}
}

.header-dot {
	color: #ffffff;
}

.enter-link {
	margin-top: 2rem;
	font-size: 1.5rem;
	color: #ffffff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border: 2px solid #8e44ad;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

.enter-link:hover {
	background-color: #8e44ad;
	color: #000000;
}

.header-dot {
	color: #8e44ad;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding-top: 4rem;
	height: auto;
	justify-items: start;
	align-items: start;
}

.hero-item {
	display: flex;
	flex-direction: column;
	/* justify-content: end;
	align-items: flex-start;
	text-align: left; */
}
.hero-item.image {
	display: flex;
	flex-direction: row;
	background: var(--primary-color);
	border-radius: 0.75rem;
	align-items: flex-end;
	max-height: 100%;
	margin: 0;
}

.hero-item img {
	max-width: 60%;
	/* height: auto; */
	/* object-fit: contain; */
	/* margin: 0; */
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}

footer {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer ul {
	justify-content: center;
	list-style: none;
	display: flex;
}

footer ul li {
	padding: 0.5rem;
}

svg {
	width: 4rem;
	color: #8e44ad;
	transition: transform 0.3s ease, fill 0.3s ease;
	transform: rotate(-45deg) scale(1);
}

svg:hover {
	transform: rotate(0) scale(1.1);
	fill: #bbbbbb;
}

svg:focus {
	transform: rotate(0) scale(1.1);
	fill: #bbbbbb;
}
@media (max-width: 768px) {
	footer {
		flex-direction: column;
		align-items: center;
	}

	footer ul li {
		padding: 0.5rem;
	}
}
