/* === CSS RESET START === */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	line-height: 1.5;
	font-family: "Red Hat Display", sans-serif;
	font-weight: 500;
	background-color: var(--background-color);
	color: var(--text-color);
}

img,
svg,
video,
picture {
	display: block;
	max-width: 100%;
}

/* === CSS RESET END === */

/* === SKIP TO MAIN CONTENT START === */
.skip-link {
	background: var(--background-color);
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	position: absolute;
	left: 0.5rem;
	transform: translateY(-120%);
	transition: transform 0.3s ease-in-out;
	color: var(--text-color);
}

.skip-link:focus {
	transform: translateY(0);
}

/* === SKIP TO MAIN CONTENT END === */
:root {
	--text-color: #ffffff;
	--background-color: #0f0f0f;
	--primary-color: #8e44ad;
}

html {
	scroll-behavior: smooth;
}

/* === NAVBAR/HEADER STYLES START === */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem 2.5rem;
	color: var(--text-color);
	font-size: 1.25rem;
}

/* Logo svg */
.logo {
	width: 12rem;
}

/* Navigation Links */
.nav-links {
	display: flex;
	gap: 2.5rem;
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	color: var(--text-color);
	/* font-size: 1.25rem; */
}

.nav-links a:hover {
	color: var(--primary-color);
}
/* === NAVBAR/HEADER STYLES END === */

/* === MAIN SECTION STYLES START === */
#main-content {
	width: 100%;
	height: 100vh;
	padding: 2.5rem;
}
